{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block head %}
<style>
    textarea {
        resize: none;
    }

    html,
    body {
        height: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div class="h-100 d-flex align-items-center">
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                Sure Bo?
            </div>
            {% if url_error %}
            <div class="alert alert-danger" role="alert" id="invalidUrlAlert">
                Please enter a valid JobStreet URL.
            </div>
            {% endif %}
            {% if url_error %}
            <div class="alert alert-danger" role="alert" id="invalidUrlAlert">
                Please enter a valid JobStreet URL.
            </div>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">Input Suspicious Job Street Posting Below</h5>
                <form action="" method="post" class="form-outline mx-3 mt-3">
                    <div class="input-group mb-3 d-flex justify-content-end">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="modelDropdown">Select Model</label>
                        </div>
                        <select class="custom-select" id="modelDropdown">
                            <option value="model1">Model 1</option>
                            <option value="model2">Model 2</option>
                            <option value="model3">Model 3</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon3">https://jobstreet.com.sg</span>
                            <input type="text" class="form-control" id="basic-url"
                                aria-describedby="basic-addon3 basic-addon4" name="job_street_url">
                        </div>
                        <div class="form-text" id="basic-addon4">Check a job posting today!</div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Retrieve Now!" id="primaryBtn"
                        onclick="toggleLoadBtn()" />
                </form>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                <span>Guard Your Future, Defend Against Deception: Job Scams Beware!</span>
                <span>Copyright © 2023 Sure-Bo. All Rights Reserved.</span>
            </div>
        </div>
        {% if job_dict %}
        <!-- Modal -->
        <div class="modal fade" id="dataModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Job Retrieved</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Key</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, value in job_dict.items() %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ value|truncate(100, True, '...') }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="checkNowBtn" data-bs-dismiss="modal" onclick="closeAndOpenModal()">Check Now!</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="mlModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Job Retrieved</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% if pred_bool != None %}
                        {% if pred_bool %}
                            <p>Scam</p>
                        {% else %}
                            <p>Not Scam</p>
                        {% endif %}

                        {% if exp_list %}
                            <p>{{ exp_list }}</p>
                        {% endif %}
                    {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script>
    const myModal = new bootstrap.Modal('#dataModal', {
        keyboard: false
    })
    const modalToggle = document.getElementById('dataModal');
    myModal.show(modalToggle);

    // Function to close the existing modal and open a new one
    function closeAndOpenModal(newModalId) {
        const currentModal = new bootstrap.Modal('#dataModal', { keyboard: false });
        const dataModal = document.getElementById('dataModal');
        currentModal.hide(dataModal);

        const newModal = new bootstrap.Modal('#mlModal', { keyboard: false });
        const mlModal = document.getElementById('mlModal');
        newModal.show(mlModal);
    }
</script>

{% endblock %}